* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: antiquewhite;
    
}

header {
    position: relative;
}

nav {
    background-color: rgba(17, 17, 17, 0.5);
    height: 100px; 
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.top-bar {
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 100px; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#header-image {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.logotype {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    color: #179446;
}

.btn-green {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3x;
	background-color: #179446;
	cursor: pointer;
	color:antiquewhite;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 16px;
	padding: 14px 24px;
    transition: background-color 1s ease;
}

.btn-green:hover {
    background-color:#179446;
    color: antiquewhite;
}

.intro-content {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    width: 50%;
}

.intro-content h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 28px;
    width: 80%;
}

.intro-content h1:after {
    background-color: #179446;
    content: "";
    display: block;
    width: 1.875rem;
    height: .3125rem;
    margin-top: 25px;
}

section.introduction {
    width: 1170px;
    margin: 0 auto;
}

section {
    width: 1170px;
    margin: 0 auto;
}



@media (max-width: 767px) {


}