body {
    background-color: black;
    color: antiquewhite;
}

header {
    background-color: #3e474f;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.Grid-cell {
    text-align: center;
}

.nav {
   margin-right: 20px;
   padding: 20px;
}

.logo {
   margin-left: 20px;
   padding: 20px;
}

@media (max-width: 400px) {
  .container {
    display: block;
  }

  .Grid-cell {
    width: 100%;
    background-color: blue;
}

}