section.about 
  background: linear-gradient(45deg, rgba(0,0,0,0.03) 25%,rgba(99,99,99,0.25) 100%)
  overflow: auto

.about-wrapper 
  max-width: 1170px
  margin: 60px auto
  display: flex
  padding: 0 20px

.experience
  flex: 1
  margin-right: 20px

  &__item
    background-color: rgba(0,0,0,0.15)
    padding: 20px
    margin-bottom: 20px;

.about-me
  flex: 2