* 
	box-sizing: border-box

body 
	background-color: $mainBlack
	color: antiquewhite

a 
	color: $mainGreen
	text-decoration: none

h1, h2 
	margin: 0
	padding: 0

:root 
	font-size: 16px

header 
	position: relative

nav 
	background-color: rgba(17, 17, 17, 0.5)
	position: absolute
	width: 100%
	top: 0
	left: 0
	position: fixed

.top-bar 
	display: flex
	max-width: 1170px
	width: 100%
	height: 6.25em
	margin: 0 auto
	justify-content: space-between
	align-items: center

	&__logo 
		font-family: 'Rubik Mono One', sans-serif
		font-size: 2rem
		color: $mainGreen

	&__btn--green 
		font-size: 1rem
		-moz-border-radius: 0.1855em
		-webkit-border-radius: 0.1855em
		border-radius: 0.1855em
		background-color: $mainGreen
		cursor: pointer
		color:antiquewhite
		font-family: 'Rubik Mono One', sans-serif
		padding: 0.875em 1.5em
		transition: background-color 1s ease

		&:hover 
			background-color: darken($mainGreen, 6%)
			color: antiquewhite

.hero 
	background-image: url('../img/bg.jpg')
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
	height: 100vh
	display: flex
	align-items: center
	background-attachment: fixed
		
.hero__items 
	font-family: 'Montserrat', sans-serif
	text-transform: uppercase
	font-size: 2.625rem
	width: 50%

.hero__paragraph
	font-size: 1.75rem
	margin: 0
	padding: 0
	letter-spacing: 4px

.hero__heading:after 
	background-color: $mainGreen
	content: ""
	display: block
	width: 40px
	height: 5px
	margin: 35px 0

.hero__container
	width: 1170px
	margin: 0 auto

section 
	max-width: 1170px
	margin: 0 auto

@media (max-width: 1170px) 

	.top-bar 
		padding: 0 25px
		transition: 0.5s ease

	.hero__items 
		padding-left: 25px

@media (max-width: 767px) 

	:root 
		font-size: 12px
		
	nav 
		position: static

	.hero__items 
		text-align: center
		width: auto
		transition: all 1s ease-in-out
		padding: 0

	.hero__items h1:after 
		margin: 25px auto

	.hero__items h2 
		width: auto
		margin-top: 25px