.work
	background: linear-gradient(45deg, rgba(0,0,0,0.03) 25%,rgba(99,99,99,0.25) 100%)
	overflow: auto

	&-wrapper 
		margin: 40px auto
		padding: 40px

.shots
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	padding: 0
	list-style-type: none

	&--shot
		margin-bottom: 60px